<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
    <form  method="POST">
        {% csrf_token %}

        <label for="username"> User Name</label>
        <input type="text" name="username" id="username"  placeholder="Enter your username" required/>

        <label for="firstname"> Firstname </label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your Firstname" required/>

        <label for="lastname"> Lastname </label>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your Lastname" required/>

        <label for="email"> Email </label>
        <input type="email" name="email" id="email" placeholder="Enter your Email" required/>

        <label for="pas1"> Password </label>
        <input type="password" name="pas1" id="pas1" placeholder="Enter your Password" required/>

        <label for="pas2">  Confirm Password </label>
        <input type="password" name="pas2" id="pas2" placeholder="Confirm your Password" required/>


        <button type="submit">Sign up </button>
    </form>
</body>
</html>